$font-size: 1.6;
$font-color: #555;
$line-height:1.4;

$selection-color:#fff;

$principale:#321f40;

$vert:#31b7a1;
$bleu:#559dc6;
$orange:#f9602b;
$rouge:#f92b6a;
$violet: #321f40;
$noir: #474747;
$gris: #888888;
$gris-clair: #d8d8d8;

$incidents: #60d1eb;
$symptomes: #fc3867;
$undefined: #a011ff;

$admin-bg-gris-fonce:#313942;
$admin-bg-gris-moyen:#637484;
$admin-bg-gris-clair:#6f8294;
$admin-bg-gris-tres-clair:#eff3f6;
