<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10017" id="com.weare148.respire.test" ios-CFBundleVersion="1.0.6" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Respire</name>
    <description>Surveillez la qualité de l'air à Paris !</description>
    <author email="contact@148.fr">Agence 148</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" height="36" platform="android" src="platforms/android/app/src/main/res/drawable-ldpi/icon.png" width="36" />
        <icon density="mdpi" height="48" platform="android" src="platforms/android/app/src/main/res/drawable-mdpi/icon.png" width="48" />
        <icon density="hdpi" height="72" platform="android" src="platforms/android/app/src/main/res/drawable-hdpi/icon.png" width="72" />
        <icon density="xhdpi" height="96" platform="android" src="platforms/android/app/src/main/res/drawable-xhdpi/icon.png" width="96" />
        <icon density="xxhdpi" height="114" platform="android" src="platforms/android/app/src/main/res/drawable-xxhdpi/icon.png" width="114" />
        <icon density="xxxhdpi" height="192" platform="android" src="platforms/android/app/src/main/res/drawable-xxxhdpi/icon.png" width="192" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="./res/screen/Default@2x~universal~anyany.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="26" />
    <engine name="ios" spec="~4.5.5" />
    <engine name="browser" spec="~4.1.0" />
    <engine name="android" spec="^6.2.2" />
    <edit-config file="*-Info.plist" mode="merge" platform="ios" target="NSLocationWhenInUseUsageDescription">
        <string>L'application Respire a besoin de votre position pour fonctionner</string>
    </edit-config>
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="L'application Respire a besoin de votre position pour fonctionner" />
    </plugin>
    <preference name="SplashScreenDelay" value="3000" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
</widget>
