label{
    display: block;
    //
}
input[type="text"],input[type="password"],input[type="email"]{
    width: 100%;

    margin-bottom: 40px;

    background: transparent;
    border: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    border-radius: 0px;

	/* remove default style in iOS*/
	appearance: none;
	outline: none;

    font-family: 'Lato', Arial, sans-serif;
    color: #fff;
}
/* fix for webkit yellow background*/
input:-webkit-autofill{
	&,
	&:hover,
	&:focus,
	&:active{
		transition-delay: 9999s;
		transition-property: background-color, color;
	}
}
.button, button{
	width: 100%;
	padding: 10px 20px;

    background: #fff;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 0.7em;
	border: 0;

	color: $principale;
}

.error {
  font-size: 0.7em;
  background: $rouge;
  padding: 0.5em;
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
