/*
|--------------------------------------------------------------------------
| Config
|--------------------------------------------------------------------------
*/

window.appURL = 'http://respire.test:8888'
